{% extends "shop/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{% endblock %}
{% block content %}
    <div class="bg-light py-3">
        <div class="container">
            <div class="row" style="text-align: center">
                Виготовленням металошукачів наша компанія зайнялася ще далекого 2006 року.<br>
                Спочатку це були моделі Квазар арм, металошукач Термінатор 3, Clon, Pirat, пізніше Chance.<br>
                Щороку ми запускали виробництво нових приладів, розширювали кількість моделей кожної групи, модернізували старі металошукачі, збирали нові зразки котушок. <br>
                На сьогодні у нас виробляються моделі таких груп:<br>
                Clon, Pirat, Chance, Quasar arm, Quasar arm у корпусі Gainta, у корпусі GR 2018, max,
                Термінатор 3 та про, Fortune (М, М2, М3).<br>
                Моделями, які представлені у нас, наші клієнти користуються багато років, є відгуки про роботу,<br>
                багато відео з розкопок. Адже ще недавно кожен з цих клієнтів теж був спантеличений питанням чи варто купити металошукач quasar arm чи ні. <br>
                Ці моделі металошукачів дуже популярні. <br>
                Кожен клієнт має можливість придбати у нас прилад із показниками, що йому підходять, та вибрати до нього потрібну комплектацію. <br>
                У нас можна підібрати в комплект не одну, а дві котушки (глибинну та снайперку). <br>
                Котушки, які ми виготовляємо водонепроникні з якісним дротом. Штанга модернізована трьох секційних, практично без люфту.<br>
                При виготовленні металошукачів ми дотримуємось високих показників якості.<br>
                На кожному етапі, починаючи від виготовлення котушки до збирання приладу, ми контролюємо якість виготовлення.<br>
                Якщо ви вирішили купити металошукач квазар арм або термінатор 3 у нас, можете бути впевнені,<br>
                кожен прилад проходить тестування роботи. Тільки ми повністю налаштовуємо прилад для клієнта. <br>
                Тільки у нас можна проконсультуватися з роботи даного приладу, його коректної настройки. <br>
                Усі комплектуючі: штанга, котушка, блоки, за невідповідності якості не допускаються до продажу.<br>
                Ми гарантуємо клієнту, що він одержати товар, який відповідає опису. <br>
                Лише у нас гарантійний термін – 18 місяців. <br>
                Також ми робимо для своїх клієнтів післягарантійне обслуговування.
                Гарантійні терміни на продукцію: прилад у зборі – 18 місяців котушки – 18 місяців штанга – 18 місяців зарядний пристрій – 1 місяць акумулятори – 1 місяць <br>
                Гарантійні зобов'язання не поширюються на механічні пошкодження, що виникли внаслідок порушення правил експлуатації.<br>
                У разі механічних пошкоджень ремонт відбувається за рахунок клієнта.<br>
            </div>
        </div>
    </div>
{% endblock %}