{% extends "shop/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{% endblock %}
{% block content %}
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
Товар, замовлений у нашому Інтернет магазині, ви можете повернути (обмінювати) протягом 14 днів, не рахуючи дня покупки, згідно із Законом України «Про захист прав споживача».
<br>
Обов'язкові умови для повернення або обміну товару:
<br>
Товар має бути повністю укомплектований
Наявність оригінальної та непошкодженої упаковки та ярликів
Дотримання товарного вигляду (відсутність слідів експлуатації та носіння)
Перед тим як повернути товар, необхідно обов'язково зв'язатися з менеджером для оформлення заявки на повернення. Повернення здійснюється Новою поштою.

<br>
Зверніть увагу:
<br>
У разі повернення товару неналежної якості магазин бере на себе витрати на пересилання. Для цього необхідно надати чек за пересилання товару.
Якщо надісланий товар не підлягає поверненню, магазин змушений відправити його за рахунок покупця.
Повернення коштів, у разі відправки товару через Нову пошту, складає розрахунковий рахунок покупця.
<br>
Повернення через Нову пошту<br>
Товар можна повернути Новою поштою протягом 14 днів з моменту отримання замовлення.
            <br>
Для відправки товару необхідно за телефоном <br>+38 (099) 483-33-74 або +38 (096) 749-76-56 <br>отримати реквізити для відправлення повернення менеджера.
Пересилання товару здійснюється з допомогою покупця.
Після відправки товару необхідно за телефоном <br>+38(099)483-33-74 або +38(096)749-76-56 <br>повідомити менеджеру номер декларації.
<br>Після повернення товару за умови збереження його споживчих властивостей та товарного виду здійснюється повернення коштів протягом 14 днів після відправлення.
        </div>
      </div>
    </div>
{% endblock %}